.allFeed {
  display: flex;
}
.feed {
    background-color: chartreuse;
  display: flex;
  
}
.header1 {
  height: 2rem;
  display: flex;
  flex-direction: row;
  background-color: red;
  top: 0;
  position: fixed;
  border: thick;
  border-color: black;
}
.home {
    top: 0;
  background-color: blue    ;
}
.iconStars {
    background-color: brown;
    color: rgba(0, 172, 238, 1);
  }

.twitterBox {
    background-color: cadetblue;
  padding-top: 12%;
  display: flex;
  flex-direction: column;
}


.inputTweet {
  border: none;
}
.opcionesTweet {
  color: rgba(0, 172, 238, 1);
}

.opcionesTweet {
  display: flex;
}
.buttonTweet {
  border: none;
  background-color: white;
  color: rgb(133, 207, 241);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}
.buttonTweet:hover {
  border: none;
  color: rgba(0, 172, 238, 1);
  background-color: white;
}

.optionButton {
  border: none;
  background-color: white;
  color: rgb(173, 222, 245);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 50%;
}
.optionButton:hover {
  border: none;
  color: rgba(0, 172, 238, 1);
  background-color: rgb(226, 236, 243);
}
