.sidebar {
    display: flexbox;
    width: 100%;
}
.twitterIcon {
    background-color: white;
    border: none;
  color: rgba(29, 161, 242, 1);
  cursor: pointer;
}

.optionIcon:hover {
    cursor: pointer;
    background-color: rgb(220, 232, 240);
    color: rgba(29, 161, 242, 1);
    border-radius: 50%;
    border: none;
}
.optionIcon {
    background-color: white;
    border: none;
    border-radius: 50%;
}
